div.shawshank {
  border-radius: 8px;
  width: 12%;
  float:left;
  margin-left:auto;
  margin-bottom: 25px;
  
}

div.container {
  text-align: left;
  font-size: 20px;
  color: white;
  margin-left: auto;
  border-radius: 8px;

}